/* Tailwind CSS perėjimo efektai */
.transition-all {
    transition: all 0.3s ease;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.scale-100 {
    transform: scale(1);
}

.scale-110 {
    transform: scale(1.1);
}

.hover\:scale-110:hover {
    transform: scale(1.1);
}

.group:hover .opacity-0 {
    opacity: 1;
}

.group:hover .opacity-100 {
    opacity: 1;
}
